* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mainbody>div>div:hover {
  outline: 2px solid black;
}

#mainbody>div>div {
  outline: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainbody>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  width: 10%;
  height: 5%;
  font-size: 150%;
}

body>div {
  display: flex;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  min-width: 30px;
  min-height: 30px;
}